/* @import 'ag-grid-community/styles/ag-grid.css'; */
/* @import 'ag-grid-community/styles/ag-theme-quartz.css'; */
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
app-root {
  height: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  @apply bg-background text-zinc-100;
}
